@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
  font: normal 100%/1.3 Merriweather, serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.candy-icons {
  display: flex;
  justify-content: space-between;
}

.candy-left, .candy-right {
  width: 50px;
  height: 50px;
  margin: .5em 0;
}

header h1 {
  font-size: 2rem;
  text-align: center;
}

.header-nav ul {
  list-style-type: none;
  font-size: 1.125rem;
  padding: 0;
  margin: 0 0 .3rem;
  white-space: nowrap;
}

.header-nav li {
  width: 100%;
  white-space: nowrap;
}

.header-nav a {
  display: block;
  text-decoration: none;
  padding: .5em .75em;
  white-space: nowrap;
}

.header-nav a:hover {
  color: #333;
  background-color: #222;
}

.banner-img-flex {
  display: block;
  width: 100%;
  position: relative;
}

.welcome-banner {
  max-height: 500px;
  overflow: hidden;
  justify-content: center;
  position: relative;
}

.banner-content {
  position: absolute;
  display: flex;
  margin: 1rem;
  padding-bottom: 1rem;
  max-width: 45em;
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.welcome-main {
  align-items: center;
  width: 100%;
  display: inline-block;
  margin-left: 1.5rem;
}

.beau-logo {
  display: block;
  width: 50%;
  text-align: center;
  margin-right: 1rem;
}

.welcome-banner h2 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 3rem;
  line-height: 1.2;
  font-weight: bold;
  margin: 0;
  max-width: 6em;
}

.welcome-banner p {
  font-size: 1.5rem;
  margin: 0;
  padding-top: .5rem;
  padding-right: 3.5rem;
}

.welcome-btn {
  font-size: 1.125rem;
  display: inline-block;
  border: 3px solid #333;
  border-radius: 8px;
  background-color: #333;
  padding: .6em .85em;
  margin: 1rem 0;
}

.learn-btn {
  font-size: 1.5rem;
  color: #fff;
  text-decoration: none;
}

.welcome-btn:hover {
  background-color: #000;
}
