@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
  font: normal 100%/1.3 Merriweather, serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

header {
  background-color: #ff5c6f;
  width: 100%;
  display: flex;
  flex-direction: column;
  color: #fff;
}

.candy-icons {
  display: flex;
  justify-content: space-between;
}

.candy-left, .candy-right {
  width: 50px;
  height: 50px;
  margin: .5em 0;
}

header h1 {
  font-size: 2rem;
  text-align: center;
  margin: 1rem auto;
}

.header-nav ul {
  list-style-type: none;
  font-size: 1.125rem;
  padding: 0;
  margin: 0 0 .3rem;
  white-space: nowrap;
}

.header-nav li {
  width: 100%;
  white-space: nowrap;
}

.header-nav a {
  color: #fff;
  display: block;
  text-decoration: none;
  padding: .2em .75em;
  white-space: nowrap;
}

.header-nav a:hover {
  color: #fff;
  background-color: #a23f42;
}

.banner-img-flex {
  display: block;
  width: 100%;
}

.welcome-banner {
  max-height: 500px;
}

.banner-content {
  margin: 1rem;
  padding-bottom: 1rem;
  max-width: 45em;
  width: 100%;
}

.welcome-main {
  align-items: center;
  width: 100%;
  display: inline-block;
  margin-left: 1rem;
}

.beau-logo {
  display: none;
}

.welcome-banner h2 {
  font-size: 1.5rem;
  line-height: 1.2;
  font-weight: bold;
}

.welcome-banner p {
  font-size: .875rem;
  margin: 0;
  padding-top: .5rem;
  padding-right: 3.5rem;
}

.welcome-btn {
  font-size: .8rem;
  display: inline-block;
  border: 3px solid #333;
  border-radius: 8px;
  background-color: #333;
  padding: .6em .85em;
  margin: 1rem 0;
}

.learn-btn {
  font-size: .8rem;
  color: #fff;
  text-decoration: none;
}

.welcome-btn:hover {
  background-color: #000;
}

.beau-photo {
  display: block;
  width: 100%;
}

.img-grid {
  display: flex;
  flex-direction: column;
}

.photo:nth-child(2), .photo:last-child, .photo:nth-child(5) {
  display: none;
}

  .flavour-nav {
    list-style-type: none;
    text-align: center;
    font-weight: 100;
    font-size: .8rem;
  }

  .flavour-nav ul {
    padding: 0;
  }

  .flavour-nav li {
    white-space: nowrap;
    display: flex;
    flex-direction: column;
  }

  .flavour-nav a {
    text-decoration: none;
    color: #fff;
    text-align: center;
    background-color: #ff5c6f;
    padding: .4em .5em;
    border-radius: 4px;
    margin: .2rem;
    padding: 1em .5em;
  }

  .flavour-nav a:hover {
    background-color: #cc1465;
    color: #fff;
    border-color: #cc1465;
    padding: .4em .5em;
    text-align: center;
    border-radius: 4px;
  }

@media only screen and (min-width: 25em) {

  nav {
    width: 100%;
  }

  nav ul {
    display: flex;
    flex-wrap: wrap;
  }

  nav li {
    width: 50%;
    text-align: center;
  }

  .welcome-main h2 {
    margin-bottom: 0;
  }

  .welcome-btn {
    margin-top: .3em;
  }

  .img-grid {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .photo:nth-child(5) {
    display: none;
  }

  .photo:nth-child(2) {
    display: block;
    width: 50%;
    flex-direction: row;
  }

  .photo:first-child {
    width: 100%;
    max-height: 200px;
    overflow: hidden;
  }

  .photo:nth-child(3) {
    width: 50%;
    flex-direction: row;
  }

}

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

  .header-nav {
    flex-wrap: nowrap;
  }

  .header-nav li {
    width: 25%;
  }

  .header-nav ul {
    justify-content: space-around;
  }

  .welcome-banner {
    position: relative;
    max-height: 500px;
    overflow: hidden;
  }

  .banner-content {
    position: absolute;
    display: flex;
    margin: auto;
    padding-bottom: 1rem;
    max-width: 45em;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .welcome-main {
    align-items: center;
    width: 100%;
    display: inline-block;
    margin-left: 1.5rem;
  }

  .beau-logo {
    display: block;
    width: 50%;
  }

  .photo:first-child {
    width: 100%;
    max-height: 200px;
    overflow: hidden;
  }

  .photo:last-child {
    display: none;
  }

  .photo:nth-child(2), .photo:nth-child(3), .photo:nth-child(4) {
    width: 33.333%;
  }

  .flavour-nav {
    flex-wrap: nowrap;
  }

  .flavour-nav li {
    width: 25%;
  }

  .flavour-nav ul {
    justify-content: space-around;
  }

}

@media only screen and (min-width: 60em) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }

  header {
    flex-direction: row;
  }

  header h1 {
    width: 50%;
    display: flex;
    padding: 0 .75rem;
  }

  .header-nav {
    width: 50%;
    margin: .9rem;
    padding: .3em 0 .5em;
  }

  .header-nav li {
    align-items: flex-end;
    padding-right: 0;
  }

  .photo:first-child {
    width: 100%;
    max-height: 200px;
    overflow: hidden;
  }

  .photo:nth-child(5), .photo:last-child {
    display: none;
  }

  .photo:nth-child(3), .photo:nth-child(2), .photo:nth-child(4), {
    display: block;
    width: 33.3333%;
  }

}

@media only screen and (min-width: 90em) {

  html {
    font-size: 130%;
  }

  .img-flex {
    display: block;
  }

  .photo:last-child, .photo:nth-child(2), .photo:nth-child(4), .photo:nth-child(3) {
    display: block;
    width: 25%;
  }

}
